[Unit]
Description=Happening Detector 
After=network.target

[Service]
User=nobody
WorkingDirectory=/etc/hapcon
ExecStart=/usr/bin/python2 /etc/hapcon/main.py
Restart=always


[Install]
WantedBy=multi-user.target
